.App-header {
    background-image: url("./assets/images/recipe.jpeg");
    height: 150px;
    /* You must set a specified height */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    background-color: #cccccc;
}

#banner {
    height: 350px;
}

h1{
    color: chocolate;
    
}

.footer {
    background-color: chocolate;
    text-align: center;
    color: khaki;
    margin-top: 3rem;
}

.icon{
    color: orange;
}
 